@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white;
  font-family: 'Inter', sans-serif;
}

.neon-text {
  text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 15px #39ff14;
}

.glow-on-hover {
  @apply transition-all duration-300;
}

.glow-on-hover:hover {
  box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14;
}

/* Animações personalizadas */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
}
